:root{
    --primary-color: #c9b960;
    --secondayr-color: #0f2020;
    --text-color: #000000;
    --link-color: #4f05fc;
    --background-color: #FFFFFF;
    background-image: url(https://thumbs.dreamstime.com/b/basic-rgb-161274821.jpg);
    --button-hover-color:#c504ff;
    --font-body:"Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}
#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    align-items: center;
}

.cabecalho{
    list-style-type: none;
    padding: 20px;
    background-color: rgb(25, 3, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo{
    color: rgb(248, 245, 245);
    font-weight: bold;
    font-size: larger;
    display: flex;
    justify-content:start; 
    align-items: center;    
}

button{
    justify-content: right;
    margin-right: 80px;
    background-color:rgb(84, 0, 117);
    cursor: pointer;
}
.codigo-casa{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  color:white;
  font-size: 18px;
}

body{
    background-image: url('img/library-background.jpg');
    font-family: "Courier New", Courier, monospace;
    font-style: var(--background-color)white;
}
.design-conteudo{
    padding: 5px;
    border-radius: 5px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}
.cartao1{
    color: white;
    padding: 5px;
    background: linear-gradient(to bottom, rgb(57, 7, 77), rgba(88, 169, 235, 0.575));
    border-radius: 5px;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    max-width: 300px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    position: relative;
    cursor: pointer;
}
.cartao2{
    color: rgb(245, 239, 239);
    padding: 5px;
    background: linear-gradient(to bottom, rgb(57, 7, 77), rgba(88, 169, 235, 0.568));
    border-radius: 5px;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    max-width: 300px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    position: relative;
    cursor: pointer;
}
.cartao3{
    color: rgb(253, 252, 252);
    padding: 5px;
    background: linear-gradient(to bottom, rgb(57, 7, 77), rgba(88, 169, 235, 0.61));
    border-radius: 5px;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    max-width: 300px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    position: relative;
    cursor: pointer;
}
.cartao4{
    color: rgb(255, 255, 255);
    padding: 5px;
    background: linear-gradient(to bottom, rgb(57, 7, 77), rgba(88, 169, 235, 0.603));
    border-radius: 5px;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    margin: 20px;
    max-width: 300px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    position: relative;
    cursor: pointer;
}

.cartao.flipped .cartao2,
.cartao.flipped .cartao1,
.cartao.flipped .cartao3,
.cartao.flipped .cartao4{
    transform: rotateY(180deg);
}
.card-front, .card-back {
  text-align: left;
  font-size: 2vw;
}
.card-back {
  backface-visibility:hidden;
  transform: rotateY(180deg);
  justify-content:flex-start;
  overflow: hidden;
  word-wrap: break-word;
  line-height: 20px;
  font-size: 15px;
  position: absolute;
  height: auto;
  top: 28%;
  left: 1%;
}
.card-front{
    backface-visibility: hidden;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 20px;
    font-size: 15px;
    transform: rotateY(0deg);
}

footer{
    padding: 5px;
    background-color: #000000;
    border-radius: 5px;
    position: fixed;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
}
.texto-rodape{
    color: #FFFFFF;
}
.mark a{
    color: aqua;
}
.mark a:hover{
    color:deepskyblue;
}

.voltar{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

nav a:visited{
    color: white;
    text-decoration: none;
}
